body {
  font-family:'Montserrat';
}

#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  font-weight:900;
  line-height:1.5;
}

h2 {
  font-family:'Montserrat',sans-serif;
  font-size:3rem;
  line-height:1.5;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation bar */

.navbar {
  font-family: 'Ubuntu';
  font-size: 1.25rem;
  padding:0 0 4.5rem;
}

.navbar-brand {
   font-size:2.5rem;
}

.nav-item {
  padding: 0 18px;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
  width: 60%;
  transform:rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */

#features {
  padding: 8rem 15rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

/* feature icons */

.feature-icon {
  color:#ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-details {
  text-align: center;
  padding:5%;
}

/* Testimonial section */

#testimonials {
  background-color:#ef8172;
  text-align: center;
}

.carousel-item {
  padding: 8rem 15rem;
}

.testimonial-image {
  width:20%;
  border-radius:100%;
  padding:1.5rem;
}

#press {
  background-color:#ef8172;
  text-align: center;
  padding: 2rem;
}

.press-image {
  width:15%;
  margin:20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding:100px;
  text-align: center;
}

.pricing-card {
  padding: 2rem;
}

.pricing-header {
  color:black;
}

/* cta section */

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.cta-head {
  padding:0 5%;
}


/* footer section */
#footer{
  background-color: #fff;
  padding:7% 15%;
  text-align: center;
}

.footer-icon {
  padding: 3% 1%;
}
@media (max-width:1050px) {

  #title {
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }

}
